@model eShopTruongSport.ViewModels.Catalog.Categories.CategoryDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Delete User</h1>
    <a class="btn btn-success" asp-action="Index" asp-controller="Category">Back To Lis</a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.categoryId)
                    </dt>
                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.categoryId)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="categoryId" type="hidden" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>


